*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	background-image: url('../imagem/fundo.png.jpg');
	background-size: cover;
}
.logo{
	width: 150px;
	height: 150px;
	margin-top: 0.5rem;
	border-radius: 50px;
}

h1{
	color: black;
	text-align: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	max-width: 400px;
	font-size: 1.2rem;
	padding: 10px;

}
button{
	transform: translateX(-2px);
	display: inline-block;
	border-radius: 10px;
	background-image: linear-gradient(45deg, #FEB301, #AB7802);
	border: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
button span{
	cursor: pointer;
	transition: 0.5s;
	display:inline-block;
	position: relative;
}
button span:after{
	content:'\00bb';
	position: absolute;
	top: 0;
	right: -20px;
	opacity: 0;
	transition: 0.5s;

}
button:hover span{
	padding-right: 25px;
	box-shadow: 10px;
}
button:hover span:after{
	opacity: 1;
	right: 0;
}
.edit{
	transform: translateX(-7px);
}
.botao{
	text-decoration: none;
	color: black;
	cursor: alias;
}
.container{

	width: 400px;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
	
}
.formcontainer{
	max-width: 1000px;
	min-height: 800px;
	background-color:rgba(0, 0, 0, 0.2);
	padding: 50px;
	float: right;
	border-radius: 10px;
	border: 1px;
	
}
.redesimg{
	width: 40px;
	height: 40px;
	bottom: 5px;

}

.rede1{
	width: 40px;
	height: 40px;
	position:absolute;
	transform: translate(215%, -125%)
}